:host.is-first {
  border-top: 2px solid grey;
  padding-top: 20px;
}

:host.is-last {
  border-bottom: 2px solid grey;
  padding-bottom: 20px;
}

:host.is-even {
  background: lightgray;
}

:host.is-odd {
  background: lightcyan;
}

.course-card {
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
  margin: auto;
  padding-bottom: 15px;
  padding-top: 15px;
}

.course-card > * {
  display: block;
  width: 300px;
  margin: auto;
}

.course-card > button {
  width: 150px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color:  #1976d2;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
}