.courses { 
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-header {
  display: block;
  height: 50px;
  font-size: 28px;
  background-color: #1976d2;
  color: black;
  font-weight: 500;
  padding-left: 10px;
  position: sticky;
  top: 0;
}

.title-header > .logo { 
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}