<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="title-header">
  <img
    class="logo"
    alt="LOGO"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>
<div>{{title | titlecase}}</div>
<div>Start Date: {{startDate | date: "MMM/dd/YY"}}</div>

<div class="courses">
  @for (course of courses; track course.id; let id = $index; let count = $count;
    let first = $first; let last = $last; let even = $even; let odd = $odd) {
    <app-course-card
      (courseSelected)="onCourseSelected($event)"
      [course]="course"
      [class.is-first]="first"
      [class.is-last]="last"
      [class.is-even]="even"
      [class.is-odd]="odd"
      [id]="id"
    />
  }
  @empty {
    <h1>No Courses Found</h1>
  }
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
